<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <!--<meta http-equiv="refresh" content="10" />-->
    <link rel="stylesheet" href="../public/index.css">
    <title>Forum</title>
</head>

<body>
    <div class="title">The Forum</div>

    <ul class="menu cf">
        <li><a href="/log">Log In</a></li>
        <li><a href="/">Home</a></li>          				
    </ul>

    <div class="user-name">Register error</div>
        <div class="arroundpost">
          <div class="post">Connexion refused : some informations are not correct</div>
        </div>
      <br>
</body>
</html>
